@using Microsoft.AspNetCore.Http
@using Models
@model List<EDU_SCOREDETAIL>
@{

}

<div class="layui-card-body layui-table-body layui-table-main">
    <table class="layui-table layui-form">
        <thead>
            <tr>
                <th width="5%">序号</th>
                <th width="25%">试题内容</th>
                <th width="20%">标准答案</th>
                <th width="5%">试题分数</th>
                <th width="15%">学生答案</th>
                <th width="5%">学生得分</th>
                <th width="10%">学生诉求</th>
                <th width="10%">申诉结果</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model)
            {
                string disableStr = string.IsNullOrEmpty(item.Appeal.RESULT) ? "" : "disabled";
                string disaleBtnClass = string.IsNullOrEmpty(item.Appeal.RESULT) ? "" : "layui-btn-disabled";
                <tr class="trData">
                    <td><input type="text" disabled name="questionOrder" autocomplete="off" value="@item.Question.ORDERINDEX" class="layui-input"></td>
                    <td><input type="text" disabled name="questionContent" autocomplete="off" value="@item.Question.DESCRIPTION" class="layui-input"></td>
                    <td><input type="text" disabled name="questionResult" autocomplete="off" value="@item.Question.RESULT" class="layui-input"></td>
                    <td><input type="text" disabled name="questionScore" autocomplete="off" value="@item.Question.SCORE" class="layui-input"></td>
                    <td><input type="text" disabled name="questionAnswer" autocomplete="off" value="@item.ANSWER" class="layui-input"></td>
                    <td><input type="text" @disableStr id="questionMyScore_@item.Appeal.ID" name="questionMyScore" autocomplete="off" value="@item.SCORE" class="layui-input"></td>
                    <td><input type="text" disabled name="questionMyAppeal" autocomplete="off" value="@item.Appeal.REASON" class="layui-input"></td>
                    <td><input type="text" @disableStr id="questionAppealResult_@item.Appeal.ID" name="questionAppealResult" autocomplete="off" value="@item.Appeal.RESULT" class="layui-input"></td>
                    <td class="td-manage">
                        <button class="layui-btn @disaleBtnClass" @disableStr onclick="HandleAppeal(@item.Appeal.ID,@item.ID)">
                            提交
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var layer;
    layui.use(['layer'],
        function() {
            $ = layui.jquery;
            layer = layui.layer;
        });
    var HandleAppeal = function(appealId,scoreDetailId) {
        //验证非空
        var result = $("#questionAppealResult_" + appealId).val();
        var newScore = $("#questionMyScore_" + appealId).val();
        if (!newScore ||!(/^\d+(\.\d+)?$/.test(newScore))) {
            layer.alert("请填写正确分数", { icon: 5 });
            return;
        }

        if (!result) {
            layer.alert("请填写处理结果", { icon: 5 });
            return;
        }
        
        $.post("/Appeal/HandleAppeal", { "AppealId": appealId, "Result": result, "NewScore":newScore ,"ScoreDetailId":scoreDetailId}, function(ret) {
            if (ret.Code == 0) {
                layer.alert("提交成功", {
                    icon: 6
                },
                    function() {
                        window.location.reload();
                        ////关闭当前frame
                        //xadmin.close();

                        //// 可以对父窗口进行刷新
                        //xadmin.father_reload();
                    });
                return false;
            } else {
                layer.alert(ret.Message, { icon: 5 });
            }
        });
    }
</script>


