@using Models
@model List<EDU_ACTION>
@{
    ViewData["Title"] = "角色列表";

}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加权限','/Teacher/AddAction',600,400)"><i class="layui-icon"></i>添加权限</button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>权限名称</th>
                                <th>权限描述</th>
                                <th>权限配置</th>
                                <th>添加时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>@item.ID</td>
                                    <td>@item.NAME</td>
                                    <td>@item.DESCRIPTION</td>
                                    <td>@item.CONFIG</td>
                                    <td>@item.ADDTIME</td>
                                    <td class="td-status">
                                        @if (item.ISENABLE == "1")
                                        {
                                            <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                                        }
                                        else
                                        {
                                            <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
                                        }

                                    </td>
                                    <td class="td-manage">
                                        @if (item.ISENABLE == "1")
                                        {
                                            <a onclick="member_stoporstart(this,@item.ID)" href="javascript:;" title="停用">
                                                <i class="layui-icon">&#xe601;</i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a onclick="member_stoporstart(this,@item.ID)" href="javascript:;" title="启用">
                                                <i class="layui-icon">&#xe62f;</i>
                                            </a>
                                        }

                                      
                                        <a title="删除" onclick="member_del(this,@item.ID)" href="javascript:;">
                                            <i class="layui-icon">&#xe640;</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>


    /*权限-停用-启用*/
    function member_stoporstart(obj, id) {
        var title = $(obj).attr('title');
        var confirmMsg = '确认要' + title + '吗？'
        var status = title == "停用" ? "0" : "1";
        layer.confirm(confirmMsg, function(index) {
            //发异步把用户状态进行更改
            $.post("/Teacher/EnableOrDisAbledAction", { "id": id ,"status":status}, function(ret) {
                debugger;
                if (ret.Code == 0) {
                    if (status == "0") {
                        $(obj).attr('title', '启用')
                        $(obj).find('i').html('&#xe62f;');

                        $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                        layer.msg('已停用!', { icon: 5, time: 1000 });

                    } else {
                        $(obj).attr('title', '停用')
                        $(obj).find('i').html('&#xe601;');

                        $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                        layer.msg('已启用!', { icon: 6, time: 1000 });
                    }
                } else {
                    layer.msg(ret.Message, { icon: 5, time: 1000 });
                }
            });


        });
    }

    /*权限-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function(index) {
            $.post("/Teacher/DelRole", { "id": id }, function(ret) {
                if (ret.Code == 0) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', { icon: 1, time: 1000 });
                } else {
                    layer.msg(ret.Message, { icon: 5, time: 1000 });
                }
            })
            
        });
    }

</script>
