@using Models
@model EDU_ROLE
@{
    var actions = ViewData["Actions"] as IEnumerable<EDU_ACTION>;
}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="RoleName" class="layui-form-label">
                    <span class="x-red">*</span>角色名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="RoleName" value="@Model.NAME" disabled name="RoleName" required="" lay-verify="rolename" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label for="RoleDescription" class="layui-form-label">
                    角色描述
                </label>
                <div class="layui-input-inline">
                    <input type="text" value="@Model.DESCRIPTION" id="RoleDescription" name="RoleDescription" required="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>权限</label>
                <div class="layui-input-block">
                    @foreach (var item in actions)
                    {
                        string checkStr = Model.Actions.Any(c => c.ID == item.ID) ? "checked" : "";
                        <input type="checkbox" @checkStr name="SelectActions" lay-skin="primary" value="@item.ID" title="@item.NAME" >
                    }
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="edit" onclick="    return false;" lay-submit="">修改</button>
            </div>
            <input type="hidden" id="RoleId" value="@Model.ID" />
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer', 'jquery'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                rolename: function(value) {
                    if (value.length < 2) {
                        return '角色名称至少得2个字符啊';
                    }
                }
            });

            //监听提交
            form.on('submit(edit)',
                function(data) {
                    var SelectActions = [];
                    var selects =document.getElementsByName("SelectActions");
                    for (i = 0; i < selects.length; i++) {
                        if (selects[i].checked) {
                            SelectActions.push($(selects[i]).val()) ;
                        }
                    }
                    data.field.SelectActions = SelectActions;
                    var id = $("#RoleId").val();
                    $.post("/Teacher/EditRole?RoleId="+id, data.field, function(ret) {

                        if (ret.Code == 0) {
                            layer.alert("修改成功", {
                                icon: 6
                            },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();

                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                            return false;
                        } else {
                            layer.alert(ret.Message, {
                                icon: 5
                            });
                        }
                    })
                });

        });
</script>


